
.answer {
    border-radius: 10px;
    height: 100px;
    width: 150px;
    color: palevioletred;
    border: 2px solid cornflowerblue;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
}

.answer:hover {
    background-color: rgb(238, 130, 238);
    transition: background-color 0.2s, border-radius 0.2s;
}

.answer:active {
    background-color: rgb(200, 100, 200);
}